@tailwind base;
@tailwind components;
@tailwind utilities;


.img-area img:hover{
        opacity: 0;
        cursor: pointer;
      } 
      
      .image_one {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 1;
        transition: opacity 1s ease-in-out;
        /* transition: all; */
      }
      
      
      .image_two {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        opacity: 1;
        transition-duration: 1.2s;
      }
      .image_two img {
        max-width: 100%;
        height: auto;
      }